name: Dynamic Workflow

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'version(e.g. 8.0.300)'
        required: true
        default: 'default-value'
      build_number:
        description: 'build_number(e.g. 28562648)'
        required: true
        default: 'default-value'

jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print input parameter
        run: echo "run gen_PBM.py --release ${{ github.event.inputs.version }} --build_number ${{ github.event.inputs.build_number }}"
